body {
    background-color: rgb(5, 141, 141);
    margin: 0 0 0 80px;
}
img {
    border: 1px solid goldenrod;
    border-radius: 10px;
    
}

#one {
    color: maroon;
    margin-left: -60px;
    text-decoration: underline;
}

.two {
    font-weight: bold;
}
